<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- meta description -->
  <meta name="description" content="Who are the current UFC champions?">
  <link rel="stylesheet" href="/css/style.css">
  <!-- link favicon -->
  <link rel="icon" href="favicon.png" type="image/x-icon">
  <title>Current UFC Champs</title>
</head>

<body>
  <main>
    <h1>Current UFC Champions</h1>
    <span>As of: <%= moment().format('Do MMMM, YYYY'); %></span>
    <section class="fade-in">
      <% for (let i=0; i < fighters.length; i++) { %>
        <a href="<%= fighterLinks[i] %>" target="_blank" class="fighters" title="Visit <%= fighters[i] %>'s profile on UFC.com">
          <span style="position: absolute;left: 0;right: 0; top: 0; bottom:0"></span>
          <h2>
            <%= fighters[i] %>
          </h2>

          <img src="<%= fighterImages[i] %>" alt="">

          <p>
            <%= fighterInfo[i] %>
          </p>

          <small>Last Fight: <%= lastFight[i] %></small>
        </a>
        <% } %>
    </section>

    <span>Content is property of UFC, for educational purposes only.</span>
    <span>Created by: <a href="https://markfehrenbach.me" id="website">markfehrenbach.me</a> using Node, Express, and
      EJS.</span>
  </main>
</body>

</html>